exemploJSON2.json
[
    {
        "id": "77da2dfd6242a383",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "941586121b67d882",
        "type": "inject",
        "z": "77da2dfd6242a383",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "json",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "b68a4d7b57f76aaa"
            ]
        ]
    },
    {
        "id": "b68a4d7b57f76aaa",
        "type": "function",
        "z": "77da2dfd6242a383",
        "name": "function 1",
        "func": "// Recebe o payload do nó anterior (Nó inject)\nvar valor = msg.payload; // Variável que recebe valor \n\nvalor = valor + (Math.random() * 0.2 - 0.1);\nmsg.payload = {x:new Date ().getTime(), y: valor};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "4537c19b19d2d3e0"
            ]
        ]
    },
    {
        "id": "4537c19b19d2d3e0",
        "type": "switch",
        "z": "77da2dfd6242a383",
        "name": "",
        "property": "payload.y",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "14d468e93b11e2ca"
            ]
        ]
    },
    {
        "id": "14d468e93b11e2ca",
        "type": "debug",
        "z": "77da2dfd6242a383",
        "name": "debug condição",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    }
]