Grafico.json
[
    {
        "id": "a9782e5545e2655c",
        "type": "tab",
        "label": "Exemplo JSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2d74ba371283a1e",
        "type": "inject",
        "z": "a9782e5545e2655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "6984947201f11ffd"
            ]
        ]
    },
    {
        "id": "6984947201f11ffd",
        "type": "function",
        "z": "a9782e5545e2655c",
        "name": "function 1",
        "func": "//Recebe o payload do nó anterior(nó inject)\nvar valor =msg.payload;//varivel que recebe o valor\n\nvalor = valor + (Math.random() * 0.3 - 0.1);\n\nmsg.payload = {x:new Date().getTime(), y: valor};\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 200,
        "wires": [
            [
                "63478ceb1c682a81"
            ]
        ]
    },
    {
        "id": "63478ceb1c682a81",
        "type": "switch",
        "z": "a9782e5545e2655c",
        "name": "Alerta",
        "property": "payload.y",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "df20f89d06b19ab2",
                "58225ae4745ff2c4"
            ]
        ]
    },
    {
        "id": "df20f89d06b19ab2",
        "type": "debug",
        "z": "a9782e5545e2655c",
        "name": "debug condição",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "58225ae4745ff2c4",
        "type": "ui-chart",
        "z": "a9782e5545e2655c",
        "group": "655c7bbc24edb50c",
        "name": "Grafico",
        "label": "Gráfico",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "str",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "9.5",
        "ymax": "10.5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#1b18ec"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#2eda0b"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 740,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "655c7bbc24edb50c",
        "type": "ui-group",
        "name": "Grupo 1",
        "page": "e8c42185340d35c8",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e8c42185340d35c8",
        "type": "ui-page",
        "name": "Tabela",
        "ui": "129d9287eaa495e6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "372a7ab6ae7dcc86",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "129d9287eaa495e6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "372a7ab6ae7dcc86",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]