mqtt_esp32/mqtt.json
[
    {
        "id": "a1b2c3d4.0001",
        "type": "tab",
        "label": "Sensores ESP32",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "192.168.1.4",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "vibracao_in",
        "type": "mqtt in",
        "z": "a1b2c3d4.0001",
        "name": "Vibração",
        "topic": "sensor/vibracao",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 100,
        "wires": [
            ["debug_vibracao", "gauge_vibracao"]
        ]
    },
    {
        "id": "calor_in",
        "type": "mqtt in",
        "z": "a1b2c3d4.0001",
        "name": "Calor",
        "topic": "sensor/calor",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 200,
        "wires": [
            ["debug_calor", "gauge_calor"]
        ]
    },
    {
        "id": "debug_vibracao",
        "type": "debug",
        "z": "a1b2c3d4.0001",
        "name": "Debug Vibração",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_calor",
        "type": "debug",
        "z": "a1b2c3d4.0001",
        "name": "Debug Calor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge_vibracao",
        "type": "ui_gauge",
        "z": "a1b2c3d4.0001",
        "name": "Gauge Vibração",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibração",
        "label": "unidades",
        "format": "{{value}}",
        "min": 0,
        "max": 1023,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "gauge_calor",
        "type": "ui_gauge",
        "z": "a1b2c3d4.0001",
        "name": "Gauge Calor",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Calor",
        "label": "unidades",
        "format": "{{value}}",
        "min": 0,
        "max": 1023,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Monitoramento",
        "icon": "dashboard",
        "order": 1
    }
]
