adxl345/Alertasvibracao.json
[{
    "id": "f1c5c8e1c2e9f1a1",
    "type": "inject",
    "z": "1",
    "name": "Gerar Leitura",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 160,
    "y": 120,
    "wires": [["4b9d52d2d2f6d2c3"]]
  },
  {
    "id": "4b9d52d2d2f6d2c3",
    "type": "function",
    "z": "1",
    "name": "Simular ADXL345",
    "func": "// Simulação de vibração do ADXL345 em 3 eixos\nlet vibX = (Math.random() * 2 - 1).toFixed(2);   // Eixo X (-1 a 1 g)\nlet vibY = (Math.random() * 2 - 1).toFixed(2);   // Eixo Y (-1 a 1 g)\nlet vibZ = (9.81 + (Math.random() * 1 - 0.5)).toFixed(2); // Eixo Z próximo da gravidade\n\n// Enviar valores como objeto\nmsg.payload = {\n    X: parseFloat(vibX),\n    Y: parseFloat(vibY),\n    Z: parseFloat(vibZ)\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 120,
    "wires": [["c3f3eaf2b0b91a77", "9d2b3c34b7f1a89c", "bc23df9a22e5e24e"]]
  },
  {
    "id": "c3f3eaf2b0b91a77",
    "type": "ui_chart",
    "z": "1",
    "name": "Gráfico Vibração",
    "group": "f0b7d5d8b7f1e123",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Simulação ADXL345",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "-2",
    "ymax": "12",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
    "outputs": 1,
    "useDifferentColor": "true",
    "x": 680,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "9d2b3c34b7f1a89c",
    "type": "function",
    "z": "1",
    "name": "Verificar Alerta",
    "func": "// Limites de vibração\nlet limX = 1.5;\nlet limY = 1.5;\nlet limZ = 10;\n\nlet alerta = \"\";\nif (Math.abs(msg.payload.X) > limX) alerta += `⚠️ Vibração X alta (${msg.payload.X})\\n`;\nif (Math.abs(msg.payload.Y) > limY) alerta += `⚠️ Vibração Y alta (${msg.payload.Y})\\n`;\nif (msg.payload.Z > limZ) alerta += `⚠️ Vibração Z alta (${msg.payload.Z})\\n`;\n\nif (alerta === \"\") {\n    msg.payload = {text: \"✔️ Vibração normal\", color: \"green\"};\n} else {\n    msg.payload = {text: alerta, color: \"red\"};\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 160,
    "wires": [["d7f5a9cd8af3f7aa"]]
  },
  {
    "id": "d7f5a9cd8af3f7aa",
    "type": "ui_text",
    "z": "1",
    "group": "f0b7d5d8b7f1e123",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Alerta Visual",
    "label": "Status:",
    "format": "<font color='{{msg.payload.color}}'><b>{{msg.payload.text}}</b></font>",
    "layout": "col-center",
    "x": 890,
    "y": 160,
    "wires": []
  },
  {
    "id": "bc23df9a22e5e24e",
    "type": "debug",
    "z": "1",
    "name": "Debug Valores",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 220,
    "wires": []
  },
  {
    "id": "f0b7d5d8b7f1e123",
    "type": "ui_group",
    "name": "Gráficos",
    "tab": "a8e7d5f8d3b1e789",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "a8e7d5f8d3b1e789",
    "type": "ui_tab",
    "name": "Painel IoT",
    "icon": "dashboard",
    "order": 1
  }
]
